<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 项目支持跨域访问 -->
    <mvc:cors>
        <mvc:mapping path="/**" allow-credentials="true" allowed-origins=""/>
    </mvc:cors>

    <context:component-scan base-package="we.blog.web.api"/>
    <!--mvc的分发器-->
    <mvc:annotation-driven>
        <!-- 消息转化器  -->
        <mvc:message-converters register-defaults="false">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <!-- 加入支持的媒体类型：返回contentType -->
                <property name="supportedMediaTypes">
                    <list>
                        <!-- 这里顺序不能反，一定先写text/html,不然IE下会出现下载提示 -->
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                <list>
                    <value>QuoteFieldNames</value> <!-- 输出key时是否使用双引号,默认为true -->
                    <value>WriteMapNullValue</value>  <!-- 是否输出值为null的字段,默认为false -->
                    <value>DisableCircularReferenceDetect</value>
                </list>
            </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>